# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Miscellaneous
.DS_Store
_streamlit_app/_models/Llama-3.2-1B-Instruct-IQ3_M.gguf
_streamlit_app/_models/Llama-3.2-3B-Instruct-Q4_K_M.gguf
*.pyc
*.log
_streamlit_app/simplify-language-local.py
